
body {
    background: #152434;
    font-family: Arial;
}
h1 {
    color: red;
}
/* gMz2H5N2hs02UUN34gBc5UiB9MsHo5mD4XGjA21pN6x4nb5fYMYFcnSQxWVureAb3kmqEUpqRbTwClvUQkdZeYekaROTzmD8JXDrBvtGmyGq3bl3l40opG4RO5sUTmXvEpYwNTvSE3BnDrnR3rlZHUqbAHHNNVVJSAhAnPQ6YlUbUcuogXVU1eAfr3htfdqZZ5l03JTt */
